{% extends 'layouts/base.html' %}

{% block content %}
<section class="container">
    <form action="/add-post" method="POST">
        {{ form.csrf_token }}

        <div class="form-group">
            <label for="title">Title:</label>
            <input type="text" class="form-control">
        </div>
        <div class="form-group">
            <label for="content">Content:</label>
            <textarea name="content" class="form-control" rows="9"></textarea>
        </div>
        <div class="form-group">
            <div class="pull-right">
                <button class="btn btn-primary btn-lg"type="submit">Submit</button>
            </div>
        </div>
    </form>
</section>
{% endblock %}
